.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}
.print-left, .print-right,
.print-left div, .print-right div {
  padding: 10px;
  border: 1px solid black;
}

.print-right {
  width:78%;
}
.print-left {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .print-right,
  .print-left {
    width: 100%;
  }

}